mixin contacts 
  .c-contacts
    .container.c-contacts__wrapper
      .c-contacts__location 
        .c-contacts__logo 
          +logo
        .c-contacts__subtitle PT Dwidasa Samsara Indonesia
        .c-contacts__info Ruko Jalur Sutera 29A No. 53
        .c-contacts__info Alam Sutera Serpong, Tangerang 15323
      .c-contacts__contacts 
        h3.c-contacts__title Contact
        .c-contacts__info Phone : +62.21.5314.1135
        .c-contacts__info Fax : +62.21.5314.1135
        .c-contacts__info Email : community@dwidasa.com