extends ./src/_extends/common

block title 
  title DCI

block styles
  link(rel="shortcut icon" href="./assets/images/favicon/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" href="./index.css")

block main 
  .app
    +header
    +banner
    +welcome-to
block scripts 
  script(src="./index.js" type="module") 
