.c-logo {
  align-items: center;
  display: flex;
  &__image-box {
    padding-top: 6px;
    max-width: 70px;
    min-width: 70px;
    @include media('<=phone') {
      min-width: 40px;
    }
  }
  &__block {
    margin-left: 5px;
  }
  &__item {
    line-height: 13px;
    font-weight: 500;
    font-size: 10px;
    &:nth-child(1) {
      color: rgba($c-gunmetal, 0.6);
    }
    &:nth-child(2) {
      color: rgba($c-gunmetal, 0.8);
    }
    &:nth-child(3) {
      color: $c-gunmetal;
    }
    @include media('<=phone') {
      line-height: 7px;
      font-size: 6px;
    }
  }
}
