mixin product-and-service
  .c-product-and-service
    .container.c-product-and-service__wrapper 
      h2.c-product-and-service__title Product and Service
      .c-product-and-service__block-cards 
        +card('product','Our Product','Our product is made on the base of our team’s careful research and analyses, ranging from internet based application.')
        +card('service','Our Service','DSI’s shared service solutions focus on the front-end based software development, designed specifically for the banking and financial sectors')
        +card('technology','Our Technology','First JAVA, runs on more than 850 million personal computers worldwide, and on billions of devices worldwide, including mobile and TV devices.')