.c-navigation {
  z-index: 100;
  &__list {
    align-items: center;
    display: flex;
    @include media('<=940px') {
      background-color: $c-gunmetal;
      flex-direction: column;
      padding-bottom: 100px;
      padding-top: 100px;
      text-align: center;
      overflow-y: scroll;
      position: fixed;
      transition: 0.3s;
      height: 100vh;
      right: -100%;
      z-index: 11;
      width: 75%;
      top: 0;
    }
    @include media('<=phone') {
      width: 100%;
    }
    &--active {
      right: 0;
    }
  }
  &__item {
    margin-right: 40px;
    @include media('<=940px') {
      margin: 0 0 10px 0;
    }
  }
}
