mixin banner 
  .c-banner 
    .container.c-banner__wrapper 
      .c-banner__block 
        h1.c-banner__title Making the most of the ever-growing 
          span.h-red Information Technology
        .c-banner__desc Managed by a team of professional experts with extensive experience and impressive track records
        .c-banner__button 
          +button('button','','Read More')
      .c-banner__image-box 
        include ./../../../../assets/images/svg/banner.svg
