.c-burger {
  cursor: pointer;
  position: fixed;
  display: none;
  display: none;
  right: 12px;
  z-index: 99;
  top: 35px;
  &--active {
    z-index: 99;
    .c-burger__bar:nth-child(2) {
      opacity: 0;
    }
    .c-burger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: $c-white;
    }
    .c-burger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color: $c-white;
    }
    .icon {
      color: $c-white;
    }
  }
  @include media('<=940px') {
    display: block;
  }
  @include media('<=phone') {
    top: 25px;
  }
  &__bar {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $c-gunmetal;
    margin: 5px auto;
    display: block;
    height: 3px;
    width: 25px;
  }
}
