.e-link {
  display: flex;
  &:hover {
    color: $c-carmine-pink;
  }
  &--nav {
    color: rgba($c-gunmetal, 0.8);
    padding: 5px;
    &:hover {
      transform: scale(1.05);
    }
    @include media('<=940px') {
      color: $c-white;
      font-size: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &--icon {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}
