.c-full-screen {
  display: none;
  &--show {
    background-color: rgba($c-gunmetal, 0.3);
    position: fixed;
    display: block;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
