mixin navigation 
  nav.c-navigation
    ul.c-navigation__list   
      li.c-navigation__item 
        +link('#','Services','e-link--nav')
      li.c-navigation__item
        +link('#','Product','e-link--nav')
      li.c-navigation__item
        +link('#','Technology','e-link--nav')
      li.c-navigation__item
        +link('#','About','e-link--nav')
      li.c-navigation__item
        +link('#','Client','e-link--nav')
      li.c-navigation__item
        +link('#','Partner','e-link--nav')