mixin logo 
  .c-logo
    .c-logo__image-box 
      include ./../../../../assets/images/logo/logo.svg
    .c-logo__block 
      .c-logo__item DWIDASA
      .c-logo__item SAMSARA
      .c-logo__item INDONESIA